backend:
  name: git-gateway
  branch: master
media_folder: "static/images/uploads"
public_folder: "/images/uploads"
collections:
  - name: "feed"
    label: "Feed"
    folder: "_entries/feed"
    create: true
    slug: "{{day}-{{month}}-{{year}}-{{hour}}{{minute}}{{second}}"
    fields:
      - {label: "Title", name: "title", widget: "string", default: "Entry"}
      - {label: "Publish Date", name: "date", widget: "datetime"}
      - {label: "Image", name: "image", widget: "image", optional: true}
      - {label: "Body", name: "body", widget: "markdown", optional: true}